.post{
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    

}
.btn-blog{
    background-color: orangered;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-decoration:none;
}